@keyframes bgcolor {
    0% {
        background-color: #177E89
    }

    25% {
        background-color: #084C61
    }

    50% {
        background-color: #2C1320
    }

    75% {
        background-color: #A87000
    }

    100% {
        background-color: #934700
    }
}

body {
    animation: bgcolor 25s infinite;
    animation-direction: alternate;
}