@keyframes bgcolor {
    0% {
        background-color: rgb(11, 84, 133)
    }

    33% {
        background-color: #2C1320
    }

    66% {
        background-color: #A87000
    }

    100% {
        background-color: #934700
    }
}

body {
    animation: bgcolor 20s infinite;
    animation-direction: alternate;
}
