#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#filtersPanel {
    height: 60px;
    width: 365px;
    margin-left: 125px;
    margin-top: 50px;
}
#userInput {
    background: rgb(255, 255, 255);
	padding:10px;
    border:0 none;
    margin-bottom: 10px;
    margin-left: 10px;
	width: 280px;
    height: 30px;
	outline:none;
    text-indent: 32px;
    border-radius: 2px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#category-icon{
	position: absolute;
	z-index: 1;
	margin-top: 19px;
	margin-left: 25px;
	color: #aaa;
}

/* Menu Button */
.menuButton {
    content:url('../images/menu-icon.png');
    height: 32px;
    width: 32px;
    float: left;
    cursor: pointer;
    background-color: #fff;
    padding: 9px;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.change {
    content:url('../images/menu-down-icon.png');
}

/* Menu */
#menu {
    background-color: #fff;
    width: 358px;
    height: 150px;
    text-align: center;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#cityInput {
    background: rgb(255, 255, 255);
    padding:10px;
    margin-top: 10px;
    border:0 none;
    margin-bottom: 10px;
	width: 320px;
	height: 30px;
	outline:none;
    text-indent: 32px;
    border-radius: 2px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#city-icon{
	position: absolute;
	z-index: 1;
	margin-top: 30px;
	margin-left: 14px;
	color: #aaa;
}
#distRange {
    padding: 10px;
}


/* info windows */
#markerInfo {
    font-family: 'Open Sans', sans-serif;
}

#main {
    float: left;
}

#markerInfo a {
    font-size: 21px;
    line-height: 14px;
    color: #0072ac;
    text-decoration: none;
}
#markerInfo a:hover {
    color: #004f77;
}

#stars {
    display: block;
    float: left;
    padding-right: 10px;
    margin-bottom: 0;
}

#reviews {
    display: block;
    float: left;
    color: #666;
}

#categories {
    line-height: 10px;
    color: #008bd1;
    margin-top: 14px;
    font-size: 14px;
}

#address {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

#image {
    width: 90px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 6%;
}