#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#filtersPanel {
    height: 225px;
    width: 175px;
    background-color: #fff;
    padding: 20px;
    margin: 100px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 30px 5px #999;
}
#userInput {
    display: block;
    margin: 0 auto;
}
#cityInput {
    display: block;
    margin: 10px auto;
}
#numResults {
    padding: 10px;
}
#distRange {
    padding: 10px;
}


/* info windows */
#markerInfo {
    font-family: 'Open Sans', sans-serif;
}

#markerInfo a {
    font-size: 18px;
    line-height: 14px;
    color: #0072ac;
    margin-top: 8px; 
    margin-bottom: 18px;
	text-decoration: none;
}

#markerInfo img {
    display: block;
    float: left;
    padding-right: 10px;
    margin-bottom: 0;
}

#reviews {
    display: block;
    float: left;
    color: #666;
}

#categories {
    line-height: 10px;
    color: #008bd1;
    margin-top: 14px;
    font-size: 14px;
}

#address {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

#rImage {
	width: 90px;
	height: 90px;
	padding-left: 10px;
	margin-top: 12px;
}

#otherStuff {
	float: left;
}
